{% extends "_layout.html" %}
{% block title %}My Movie List{% endblock %}
{% block content %}
	<h1>Movies:</h1>
	<form method="get" action="{{ url_for('movie_controller.movie_index') }}">
		<input type="text" name="SearchString" value="{{ search_string }}" placeholder="Search by title" value="{{ search_query }}">
		<select name="MovieGenre">
			<option value="">All Genres</option>
			{% for genre in genres %}
				<option value="{{ genre }}" {% if genre == movie_genre %}selected{% endif %}>{{ genre }}</option>
			{% endfor %}
		</select>
		<input type="submit" value="Search">
		<a href="{{ url_for('movie_controller.movie_index') }}">Reset</a>
	</form>
	<hr>
	<table>
		<tr>
			<th>Title</th>
			<th>Release Date</th>
			<th>Genre</th>
			<th>Price</th>
			<th>Rating</th>
			<th>Actions</th>
		</tr>
		{% for movie in movies %}
			<tr>
				<td>{{ movie.title }}</td>
				<td>{{ movie.release_date }}</td>
				<td>{{ movie.genre }}</td>
				<td>${{ movie.price }}</td>
				<td>{{ movie.rating }}</td>
				<td>
					<a href="{{ url_for('movie_controller.movie_details', ID=movie.id) }}">Details</a>
					<a href="{{ url_for('movie_controller.movie_edit', ID=movie.id) }}">Edit</a>
					<a href="{{ url_for('movie_controller.movie_delete', ID=movie.id) }}">Delete</a>
				</td>
			</tr>
		{% endfor %}
	</table>
	<a href="{{ url_for('movie_controller.movie_create') }}">Add New Movie</a>
{% endblock %}
